.rdg-dark {
  .rdg-cell {
    background-color: var(--joy-palette-neutral-800);
  }
  background-color: var(--joy-palette-neutral-800) !important;
}

.rdg-light {
  .rdg-cell {
    background-color: var(--joy-palette-neutral-200);
    border-color: var(--joy-palette-neutral-400);
  }
  background-color: var(--joy-palette-neutral-200) !important;
}
